html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: url(img/4391857.jpg);
    background-size: cover;
    background-position: center;
}


#app {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: radial-gradient(transparent, rgba(255, 255, 255, 0.644));

    main {
        width: 100%;
    }
}


.card {
    border: none;
    box-shadow: 0 0 20px #0000003d;

    .card-header,
    .card-body {
        border: none;
    }

    .card-header {
        font-size: 2rem;

        h3 {
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
}


.btn-company {
    background-color: $company-color;

    &:hover {
        background-color: $company-color-hovered;
    }
}
