html,
body {
    font-family: "Rubik", sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: $dark;
    font-weight: 400;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

h2 {
    margin: 0 0 20px 0;
    font-weight: 600;
    font-size: 36px;
    color: $dark;
}

h3 {
    font-size: 20px;
    font-weight: 400;
    color: $dark;
}

h4 {
    font-size: 20px;
    font-weight: 400;
    color: $dark;
}

h5 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
}

p {
    font-size: 15px;
}

p.intro {
    margin: 12px 0 0;
    line-height: 24px;
}

a {
    color: $company-color;
    font-weight: 400;

    &:hover {
        text-decoration: none;
        color: #222;
    }

    &:focus {
        text-decoration: none;
        color: #222;
        outline: none;
        outline-offset: none;
    }
}

ul {
    list-style: none;
    padding: 0;
}

ol {
    list-style: none;
    padding: 0;
}

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

    display: inline-block;
    display: block;
}

* {
    html {
        .clearfix {
            height: 1%;
        }
    }
}

hr {
    height: 3px;
    width: 70px;
    text-align: center;
    position: relative;
    background: $company-color;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 0;
}

#menu {
    padding: 20px;
    transition: all 0.8s;

    a.navbar-brand {
        font-size: 26px;
        font-weight: 600;
        color: #eee;
        padding: 5px 15px;

        img {
            height: 40px;
        }
    }
}

.navbar-expand-lg {
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);

    .navbar-nav {
        >li {
            >a {
                text-transform: uppercase;
                color: #ddd;
                font-size: 15px;
                font-weight: 500;
                letter-spacing: 1px;
                padding: 0 1rem !important;
                border-radius: 0;

                &:hover {
                    color: $company-color;
                }
            }
        }
    }
}

.scrolled {
    background-color: $white !important;
    box-shadow: $shadow-center;
}

.navbar-default {
    .navbar-nav {
        >.active {
            >a {
                color: $company-color !important;
                background-color: transparent;

                &:hover {
                    color: $company-color !important;
                    background-color: transparent;
                }

                &:focus {
                    color: $company-color !important;
                    background-color: transparent;
                }
            }
        }
    }

    .navbar-toggle {
        &:hover {
            background-color: #fff;
            border-color: #fff;

            >.icon-bar {
                background-color: $company-color;
            }
        }

        &:focus {
            background-color: #fff;
            border-color: #fff;
        }
    }
}

.navbar-toggle {
    border-radius: 0;
}

.section-title {
    margin-bottom: 70px;

    p {
        font-size: 18px;
        color: #666;
    }
}

.btn-custom {
    text-transform: uppercase;
    color: #fff;
    background-color: $company-color;
    padding: 14px 20px;
    letter-spacing: 1px;
    margin: 0;
    font-size: 17px;
    font-weight: 400;
    border-radius: 6px;
    margin-top: 20px;
    transition: all 0.3s;

    &:hover {
        color: #fff;
        background-color: $company-color-hovered;
    }

    &:focus {
        color: #fff;
        background-color: $company-color-hovered;
    }

    &:active {
        color: #fff;
        background-color: $company-color-hovered;
    }
}

.btn-custom.focus {
    color: #fff;
    background-color: $company-color-hovered;
}

.btn-custom.active {
    color: #fff;
    background-color: $company-color-hovered;
}

.btn {
    &:active {
        background-image: none;
        outline: 0;
        box-shadow: none;

        &:focus {
            outline: none;
            outline-offset: none;
        }
    }

    &:focus {
        outline: none;
        outline-offset: none;
    }

    &:active.focus {
        outline: none;
        outline-offset: none;
    }
}

.btn.active {
    background-image: none;
    outline: 0;
    box-shadow: none;

    &:focus {
        outline: none;
        outline-offset: none;
    }
}

.btn.focus {
    outline: none;
    outline-offset: none;
}

.btn.active.focus {
    outline: none;
    outline-offset: none;
}

.intro {
    display: table;
    width: 100%;
    padding: 0;
    background: url(./img/intro-bg.jpg) top center no-repeat;
    background-color: #e5e5e5;
    background-size: cover;

    .overlay {
        background: linear-gradient(to bottom,
                rgba(0, 0, 0, 0.6) 0%,
                rgba(112, 173, 71, 0.4) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#6670ad47', GradientType=0);
    }

    .fa {
        font-size: 94px;
        margin-bottom: 40px;
        color: #fff;
    }

    h1 {
        color: #fff;
        font-size: 43px;
        font-weight: 700;
        letter-spacing: -1px;
        margin-top: 0;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    p {
        color: #fff;
        font-size: 22px;
        margin-top: 20px;
        line-height: 28px;
        margin-bottom: 40px;
    }

    .btn-custom {
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }
}

header {
    margin-top: 130px;
    position: relative;

    @include media-breakpoint-up(md) {
        margin-top: 85px;
    }

    img {
        width: 100vw;
    }
}

#about {
    padding: 120px 0 80px 0;
    background: #f6f6f6;

    h3 {
        font-size: 22px;
        font-weight: 600;
        margin: 20px 0 0 0;
    }

    .about-text {
        span {
            color: $company-color-hovered;
            font-weight: 700;
            letter-spacing: -1px;
        }

        margin-bottom: 40px;
    }

    hr {
        margin-left: 0;
        margin-bottom: 40px;
    }

    .btn {
        margin-top: 40px;
    }

    .about-media {
        img {
            position: relative;
            display: block;
            width: 100%;
            height: auto;
        }
    }

    .about-desc {
        margin-bottom: 40px;
    }

    p {
        line-height: 24px;
        margin-top: 20px;
    }
}

#services {
    padding: 120px 0;
    background: $company-color;

    .service-media {
        margin: 10px;

        img {
            position: relative;
            width: 225px;
            height: 225px;
            border-radius: 50%;
            border: 10px solid rgba(255, 255, 255, 0.1);
        }
    }

    .service-desc {
        margin: 10px 10px 40px;
        text-align: center;
    }

    h2 {
        color: #fff;
    }

    h3 {
        color: #fff;
        font-size: 24px;
        font-weight: 400;
        padding: 5px 0;
    }

    p {
        color: rgba(255, 255, 255, 0.9);
    }

    hr {
        background: rgba(255, 255, 255, 0.6);
    }
}

.hover-bg {
    .hover-text {
        position: absolute;
        text-align: center;
        margin: 0 auto;
        color: #fff;
        background: rgba(0, 0, 0, 0.6);
        padding: 30% 0 0 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: all 0.5s;

        >h4 {
            opacity: 0;
            color: #fff;
            transform: translateY(100%);
            transition: all 0.3s;
            font-size: 18px;
            letter-spacing: 1px;
            font-weight: 300;
            text-transform: uppercase;
        }
    }

    &:hover {
        .hover-text {
            >h4 {
                opacity: 1;
                transform: translateY(0);
            }

            opacity: 1;
        }
    }
}

.owl-theme {
    .owl-controls {
        .owl-page {
            span {
                display: block;
                width: 12px;
                height: 12px;
                margin: 5px 7px;
                filter: Alpha(Opacity=1);
                opacity: 1;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.4);
                transition: all 0.5s;
                border: 1px solid rgba(255, 255, 255, 0.3);
            }
        }

        .owl-page.active {
            span {
                filter: Alpha(Opacity=100);
                opacity: 1;
                background: #fff;
                border: 1px solid #fff;
                background: #fff;
                border: 1px solid #fff;
            }
        }
    }

    .owl-controls.clickable {
        .owl-page {
            &:hover {
                span {
                    filter: Alpha(Opacity=100);
                    opacity: 1;
                    background: #fff;
                    border: 1px solid #fff;
                }
            }
        }
    }
}

.owl-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95vw;
    display: flex;
    justify-content: space-between;

    button {
        height: 20px;
        width: 20px;
        border-radius: 50% !important;
        background: #fae9dd80 !important;
        color: #6b655b !important;
        font-size: 17px !important;
        display: flex !important;
        justify-content: center;
        align-items: center;

        @include media-breakpoint-up(md) {
            height: 30px;
            width: 30px;
        }

        span {
            @include media-breakpoint-up(md) {
                font-size: 24px;
            }
        }
    }
}

.owl-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#contact {
    padding: 100px 0;
    background: #f6f6f6;

    .section-title {
        p {
            color: #777;
        }
    }

    form {
        padding: 0;
        margin-top: 40px;
    }

    h3 {
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 600;
    }

    .text-danger {
        color: #cc0033;
        text-align: left;
    }

    .form-control {
        display: block;
        width: 100%;
        padding: 20px 20px;
        font-size: 16px;
        line-height: 1.42857143;
        color: #444;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ddd;
        border-radius: 0;
        transition: none;

        &:focus {
            outline: 0;
            box-shadow: 0 0 15px #ddd;
        }
    }

    .contact-info {
        margin-bottom: 30px;

        hr {
            background: #ddd;
        }
    }

    .contact-item {
        margin: 20px 0 40px 0;
    }
}

label {
    font-size: 12px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    float: left;
}

.form-control {
    &::-webkit-input-placeholder {
        color: #777;
    }

    &:-moz-placeholder {
        color: #777;
    }

    &::-moz-placeholder {
        color: #777;
    }

    &:-ms-input-placeholder {
        color: #777;
    }
}

#footer {
    background: $dark;
    padding: 30px 0 20px;

    h3 {
        color: #1e7a46;
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .social {
        margin: 10px 0 50px 0;

        ul {
            li {
                display: inline-block;
                margin: 0 20px;
            }
        }

        i.fa {
            font-size: 22px;
            width: 40px;
            height: 40px;
            padding: 10px;
            background: #444;
            color: $company-color;
            border-radius: 50%;
            transition: all 0.3s;

            &:hover {
                background: $company-color;
                color: #fff;
            }
        }
    }

    p {
        color: #666;
        font-size: 15px;
    }

    a {
        color: #888;

        &:hover {
            color: #ccc;
        }
    }
}

textarea {
    resize: none;
}

button,
input,
textarea {

    &:focus,
    &:active,
    &:hover {
        box-shadow: none !important;
        outline: none !important;
    }
}

.header-text {
    span {
        color: $company-color;
    }
}

#product {
    padding: 8em 0;
}

.product__card {
    margin: 1rem;
    padding: 1rem .7rem;
    position: relative;
    // background: $bg-color;
    border-radius: 8px;
    box-shadow: 0 5px 10px #30303025;

    .product__image {
        text-align: center;

        img {
            width: 80%;
        }
    }

    .product__info {
        .product__name {
            position: relative;
            color: $dark;
            font-size: 1.6rem;
            margin: 10px;

            span {
                position: relative;
                z-index: 2;
                margin-left: 15px;
            }

            &:before,
            &:after {
                content: '';
                position: absolute;
                width: 8px;
                height: 70%;
            }

            &:before {
                background-color: $company-color;
                top: 2px;
                left: 0;
                z-index: 1;
            }

            &:after {
                background-color: $dark;
                top: -3px;
                left: -3px;
                z-index: 0;
            }
        }

        .product__description {
            opacity: 0;
            display: none;
            transition: .5s all cubic-bezier(0.23, 1, 0.320, 1);
        }
    }

    &:hover {
        .product__info .product__description {
            opacity: 1;
            display: block;
        }
    }
}


.modal {
    // .modal-product
}
