$company-color: #FFA400;
$company-color-hovered: #ffb62e;
$company-sc-color: #7D1A40;
$company-sc-color-hovered: #7c2e4c;
$bg-color: #FAE9DD;
$white: #fff;
$dark: #222222;
$shadow-center: 0 0 10px rgba(0, 0, 0, 0.2);